body{            
    font-size: 16px;
}
h1 {               
   text-align: center;                     
   font-style: italic; 
   font-size: 65px; 
   color: orange;
   font-family: sans-serif;
}     
ul{
    background-color: #c39e5c;
}   
.mod-cor{
    background-color: #91091e;
}
li{
    line-height: 1.5;            
}
p{  
    text-decoration: underline;                     
    font-weight: 600; 
    font-size: 3em;    
}
.amarelo{
    background-color: yellow;
}
.vermelho{
    background-color: red;
}
.marrom{
    background-color: brown;
}
