.super-mario{
    width: 100px;
    display: block;
}

.goomba{
    width: 100px;
    display: block;
}

.baloon{
    
    margin-top:20px ;
}

p{
    position: absolute;
    top: 455px;
    left: 60px;
   
}

.bowser{
    width: 300px;
    position: absolute;
    top: 420px;
    left: 280px;
    z-index: -1;
}
