*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

p{
  margin-bottom: 20px;
  text-align: justify;
}

header{
  background-color: #28527a;
  color: #FFF;
  padding: 20px 2%;  
}

header nav{
  margin-top: 20px;
}

header nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a{
  text-decoration: none;
  color: #FFF;
}

header nav ul li a:hover{
  background-color: #8ac4d0;
  padding: 5px;
  border-radius: 5px;
  color: #28527a;
}


main h2, h3{
  color: #28527a;
  margin: 20px 0;
}

main strong{
  color: #28527a;
}

article h2{
   padding: 0 2%;
}
.informacao-geral{
  padding: 0px 2% 20px;
}

.informacao-geral table{
  display: inline-block;
  text-align: center;
  border: 1px solid #28527a;
}

.informacao-geral img{
  width: 250px;
  height: 204px;
}

.fact-1{
  background-color: #8ac4d0;
  padding: 20px 2%;
}

.fact-2{
  padding: 20px 2%;
}


.referencia{
  background-color: #8ac4d0;
  padding: 20px 2%;
}

.referencia ol{
  padding-left: 20px;
}

.referencia ol li{
  margin-bottom: 10px;
}

.referencia a{
  text-decoration: none;
  color: black;
}

.referencia a:hover{
  background-color: #28527a;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}






